In [41]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math
import copy

In [42]:
df_consol = pd.read_csv("ALL_PLAYER_DATA.csv")

In [43]:
df_consol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7904 entries, 0 to 7903
Data columns (total 47 columns):
Unnamed: 0    7904 non-null int64
Player        7904 non-null object
G             7904 non-null int64
GS            7904 non-null int64
MPG           7904 non-null float64
FG            7904 non-null float64
FGA           7904 non-null float64
FG%           7371 non-null float64
2P            7904 non-null float64
2PA           7904 non-null float64
2P%           7068 non-null float64
3P            7904 non-null float64
3PA           7904 non-null float64
3P%           5763 non-null float64
FT            7904 non-null float64
FTA           7904 non-null float64
FT%           6495 non-null float64
ORB           7904 non-null float64
DRB           7904 non-null float64
TRB           7904 non-null float64
AST           7904 non-null float64
STL           7904 non-null float64
BLK           7904 non-null float64
TOV           7904 non-null float64
PF            7904 non-null float64
PTS           7904 non-null float64
Year          7904 non-null int64
School        7904 non-null object
MPT           7904 non-null int64
PER           7875 non-null float64
TS%           7434 non-null float64
eFG%          7371 non-null float64
3PAr          7371 non-null float64
FTr           7371 non-null float64
PProd         7875 non-null float64
ORB%          7875 non-null float64
DRB%          7875 non-null float64
TRB%          7875 non-null float64
AST%          7876 non-null float64
STL%          7875 non-null float64
BLK%          7875 non-null float64
TOV%          7522 non-null float64
USG%          7875 non-null float64
OWS           7904 non-null float64
DWS           7904 non-null float64
WS            7904 non-null float64
WS/40         7875 non-null float64
dtypes: float64(40), int64(5), object(2)
memory usage: 2.8+ MB

In [44]:
df_tconsol = pd.read_csv("NCAA_ALL_COLLEGE_DATA.csv")
df_tconsol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12887 entries, 0 to 12886
Data columns (total 26 columns):
season             12887 non-null object
conf               12887 non-null object
w                  12887 non-null int64
l                  12887 non-null int64
wl                 12887 non-null float64
w_conf             12887 non-null float64
l_conf             12887 non-null float64
wl_conf            12887 non-null float64
srs                12887 non-null float64
sos                12887 non-null float64
pts                12887 non-null float64
pts_vs             12887 non-null float64
ap_pre             12887 non-null int64
ap_high            12887 non-null int64
ap_final           12887 non-null int64
ncaa_tournament    12887 non-null int64
seed               12887 non-null int64
coaches            12887 non-null object
seeded             12887 non-null bool
year               12887 non-null int64
is_ap_pre          12887 non-null bool
is_ap_high         12887 non-null bool
is_ap_final        12887 non-null bool
pts_diff           12887 non-null float64
school             12886 non-null object
pts_total          12886 non-null float64
dtypes: bool(4), float64(10), int64(8), object(4)
memory usage: 2.2+ MB

In [45]:
df_tconsol.head()

,season,conf,w,l,wl,w_conf,l_conf,wl_conf,srs,sos,...,seed,coaches,seeded,year,is_ap_pre,is_ap_high,is_ap_final,pts_diff,school,pts_total
0,2018-19,Southland,27,6,0.818,14.0,4.0,0.778,-1.28,-8.10,...,15,Joe Golding,True,2019,False,False,False,11.4,abilene-christian,137.6
1,2017-18,Southland,16,16,0.500,8.0,10.0,0.444,-9.14,-6.82,...,20,Joe Golding,False,2018,False,False,False,2.5,abilene-christian,144.9
2,2016-17,Southland,13,16,0.448,7.0,11.0,0.389,-11.86,-7.10,...,20,Joe Golding,False,2017,False,False,False,-2.2,abilene-christian,140.8
3,2015-16,Southland,13,18,0.419,8.0,10.0,0.444,-13.93,-7.53,...,20,Joe Golding,False,2016,False,False,False,-2.0,abilene-christian,144.6
4,2014-15,Southland,10,21,0.323,4.0,14.0,0.222,-17.20,-6.34,...,20,Joe Golding,False,2015,False,False,False,-6.8,abilene-christian,134.2

In [ ]:
df_tconsol[""]